body {
    margin: 0;
}

section.container {
    background-image:  url('../img/world.png'), url('../img/bg.png');
    background-attachment: fixed, fixed;
    background-size: auto, cover;
    background-position: center, 0 0;
    background-repeat: no-repeat;
    
    z-index: 2;
    margin-bottom: 100px;
    min-height: 100vh;
}

header {
    padding: 20px;
    padding-left: 60px;
}

section.content {
    margin: 0 auto;
    width: 80%;
    margin-top: 20px;
    
    
}

div.host {
    display: inline-block;
    width: 230px;
    text-align: center;
    
    transform: scale(1.0);
    transition: transform 300ms;
}

div.host:not(.disabled) {
    cursor: pointer;
}

div.host span {
    font-family: 'Candara';
    /*font-weight: bold;*/
    font-size: 1.4em;
}

div.host img {
    margin: 0 auto;
    display: block;
    margin-bottom: 10px;
}

div.disabled {
    opacity: 0.3;
}

div.host:hover:not(.disabled) {
    transform: scale(1.1);
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    font-size: 2em;
    /*padding: 20px;*/
    font-family: 'Candara';
    text-align: right;
    vertical-align: bottom;
    
    padding-top: 40px;
    /*padding-right: 40px;*/
    height: 60px;
    
    background-image: url('../img/footer-bg.jpg');
    background-size: contain;
    background-attachment: fixed;
    
    z-index: -1;
}

footer span {
    margin-right: 70px;
    color: white;
}
