section.panel-container {
    position: absolute;
    left: 50%;
    top: 20%;
    
    width: 50%;
    height: 60%;
}

div#panel-bg {
    position: absolute;
    
    background-image: url('../img/panel-bg.png');
    background-size: cover;
    width: 100%;
    height: 100%;
}

div.wrapper {
    position: relative;
    left: -50%;
    
    height: 100%;
}

span.module-title {
    font-family: 'Candara';
    vertical-align: middle;
}

div.modules {
    position: absolute;
    left: 10%;
    top: 50%;
}

div.module {
    cursor: pointer;
    vertical-align: middle;
    margin-bottom: 15px;
}

img.module-icon {
    vertical-align: middle;
    margin-right: 10px;
}

img.screenshot {
    position: absolute;
    left: -15%;
    top: -15%;
    
    width: 140%;
}
